@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientAnimation 10s ease-in-out infinite;
}

html, body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
}

/* p {
  margin-bottom: 60px;
} */